.page-container {
  margin-top: -80px;
  background-color: inherit;
}

.first-page-container {
  border: 1px solid hsl(231, 11%, 63%);
  margin: 30px 20px;
  padding: 20px 15px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

.night .first-page-container {
  background-color: rgb(20, 15, 15);
}

.first-page-header {
  color: hsl(213, 96%, 18%);
  font-size: 1.9rem;
  font-weight: 900;
}

.night .first-page-container .first-page-header {
  color: hsl(206, 94%, 87%);
}

.first-page-info-description {
  font-size: 20px;
  font-weight: 700;
  color: hsl(231, 11%, 63%);
}

.labelling-display {
  display: grid;
  margin-bottom: 30px;
}

.labelling-header {
  color: hsl(213, 96%, 18%);
  margin: 0;
  padding: 0;
}

.night .first-page-container .labelling-header {
  color: hsl(206, 94%, 87%);
}

.first-page-input {
  padding: 5px 20px;
  min-height: 15px;
}

.first-page-footer {
  position: fixed;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  bottom: 0;
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.night .first-page-footer {
  background-color: rgb(20, 15, 15);
  border-top: 1px solid hsl(0, 0%, 100%);
}

.fp-next-page-btn {
  margin-right: 30px;
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (min-width: 745px) {
  .page-container {
    margin: 0;
    padding: 0 0 0 30px;
    min-width: 50vw;
  }

  .first-page-container {
    border: none;
    padding: 10px 15px;
  }

  .first-page-header {
    color: hsl(213, 96%, 18%);
    font-size: 2.2rem;
    font-weight: 900;
    margin: 0;
  }

  .first-page-info-description {
    font-size: 20px;
    font-weight: 700;
    color: hsl(231, 11%, 63%);
    margin: 0;
    padding: 10px 0 50px 0;
  }

  .page-container form {
    display: grid;
    gap: 18px;
  }

  .labelling-header {
    color: hsl(213, 96%, 18%);
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 1rem;
  }

  .first-page-input {
    padding: 5px 30px;
    min-height: 30px;
    border-radius: 10px;
  }

  .first-page-footer {
    position: fixed;
    width: 50%;
    bottom: 40px;
    padding: 0;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
  }

  .fp-next-page-btn {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    padding: 14px 15px;
    border-radius: 8px;
    font-size: 1.4rem;
  }

  .night .first-page-footer {
    background-color: rgb(20, 15, 15);
    border: none;
  }
}
