.nav-bar-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 15px;
}

.nav-bar-ul-li {
  padding: 0;
  margin: 0;
}

.nav-bar-container {
  background: url(../assets/images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;

  /* min-width: 100vw; */
  min-height: 20vh;
}

.night .nav-bar-container {
  background: hsl(213, 96%, 18%);
}

.nav-bar-btns {
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid hsl(231, 11%, 63%);
  background-color: inherit;
  color: hsl(0, 0%, 100%);
}

.nav-bar-btns:hover {
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid hsl(231, 11%, 63%);
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

/* .nav-bar-btns:active {
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid hsl(231, 11%, 63%);
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
} */

.active .nav-bar-btns {
  border-radius: 50%;
  border: 1px solid hsl(231, 11%, 63%);
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

@media (min-width: 375px) {
  .nav-bar-container {
    background: url(../assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
  
    max-width: 30vw;
    min-height: 80vh;
  }
}
