.thank-you-div {
  margin: 20px 15px;
  border: 1px solid #000;
}

.thank-you-container {
  border: 1px solid hsl(231, 11%, 63%);
  margin: 30px 20px;
  padding: 80px 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.night .thank-you-container {
  background-color: rgb(20, 15, 15);
}

.thank-you-description {
  text-align: center;
  padding: 0 30px;
  font-size: 1.2rem;
}

.night .thank-you-description,
.night .thank-you-header {
  color: #fff;
}

.thank-you-home {
  margin: 5vh 0 -40px 0;
  padding: 10px 15px;
  font-size: 0.8rem;
  cursor: pointer;
}

.thank-you-page-container {
  margin-top: -80px;
  background-color: inherit;
}

@media (min-width: 745px) {
  .thank-you-container {
    border: none;
    margin: 0;
    padding: 0;
    background: inherit;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
  }

  .thank-you-description {
    text-align: center;
    padding: 0 30px;
    font-size: 1.6rem;
  }

  .thank-you-page-container {
    margin: 0;
    padding: 0 0 0 30px;
    min-width: 50vw;
  }
}
